In [1]:
print('Hello, world!')

Hello, world!

In [2]:
# See the doc string
?print

In [4]:
# See the doc string and code (if available)
??print

In [5]:
# Check instance of type of the given object.
a = 5
isinstance(a, int)

True

In [6]:
b = 4.5
isinstance(b, (int, float))

True

In [7]:
# Using keyword 'is' and 'is not'
a = [1, 2, 3]
b = a

In [8]:
c = list(a)

In [9]:
a is b

True

In [10]:
a is not c

True

In [11]:
# Using 'is' is not same as the '==' operator.
a == c

True

In [12]:
a = None
a is None

True

In [13]:
# Scalar types
None
str
bytes
float
bool
int

int

In [14]:
# Dates and times
from datetime import datetime, date, time

In [16]:
dt = datetime(2019, 1, 27, 12, 37, 0)

In [18]:
dt.day

27

In [19]:
dt.minute

37

In [20]:
dt.date()

datetime.date(2019, 1, 27)

In [21]:
# Control Flow

In [24]:
# The 'if' statement
x = 6

In [25]:
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but than smaller than 5")
else:
    print("Positive and larger than or equal to 5")

Positive and larger than or equal to 5

In [28]:
# 'for' loops
# are used for iterating over a collection or an iterater

In [29]:
# skip 'None' values using 'continue' keyword in a 'for' loop

In [30]:
sequence = [1, 2, None, 4, None, 5]
total = 0

In [31]:
for value in sequence:
    if value is None:
        continue
    total += value

In [32]:
total

12

In [33]:
"""
The 'break' keyword only terminates the innermost for loop; any outer
for loops will continue to run.
"""

"\nThe 'break' keyword only terminates the innermost for loop; any outer\nfor loops will continue to run.\n"

In [35]:
# 'while' loops
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [36]:
total

504

In [37]:
# 'pass' keyword is used as a placeholder for code not yet implemented
if x < 0:
    print('negative')
elif x ==0:
    # TODO: put something here
    pass
else:
    print('positive')

positive

In [38]:
"""
'range' function returns an iterator that yeilds a sequence of evenly 
spaced integers
"""
range(10)

range(0, 10)

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# Ternary expressions
x = 5
'Non negative' if x >= 0 else 'Negative'

'Non negative'

In [41]:
# Built-in Data Structures, Functions and Files
""" Python's workhorse data structures: tuples, lists, dicts and sets. """

" Python's workhorse data structures: tuples, lists, dicts and sets. "

In [43]:
# 'Tuple' is a fixed-length, immutable sequence of Python objects.
tup  = 1, 2, 3

In [44]:
tup

(1, 2, 3)

In [45]:
type(tup)

tuple

In [46]:
nested_tup = (1, 3, 4), (5, 6, 7)

In [47]:
nested_tup

((1, 3, 4), (5, 6, 7))

In [49]:
# convert sequence or iterator to a tuple by invoking 'tuple'
tuple([1, 3, 2])

(1, 3, 2)

In [52]:
tup = tuple('string')

In [53]:
tup[0]

's'

In [55]:
# If an object inside a tuple is mutable, you can modify it in-place
tup = tuple(['foo', [1, 2], True])

In [56]:
tup[1].append(3)

In [57]:
tup

('foo', [1, 2, 3], True)

In [58]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [59]:
# Unpacking tuples
tup = (4, 5, 6)
a, b, c = tup

In [60]:
b

5

In [61]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [62]:
c

6

In [63]:
# Swaping values
a, b = 1, 2

In [64]:
a

1

In [65]:
b

2

In [66]:
a, b = b, a

In [67]:
a

2

In [68]:
b

1

In [69]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [70]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c{c}')

a=1, b=2, c3
a=4, b=5, c6
a=7, b=8, c9

In [73]:
"""
The situations where you only want few elements from the begining 
od a tuple.
"""
values = 1, 2, 3, 4, 5, 6
a, b, *rest = values

In [74]:
a, b

(1, 2)

In [75]:
rest

[3, 4, 5, 6]

In [76]:
# As convention, use the underscore(_) for unwanted variables
a, b, *_ = values

In [78]:
# Tuple methods
a = (1, 2, 2, 2, 2, 3, 4, 6)

In [79]:
a.count(2)

4

In [81]:
# 'List' are variable-length and their contents can be modified in-place.
a_list = [2, 3, 4, None]

In [82]:
tup = ('foo', 'bar', 'baz')

In [83]:
b_list = list(tup)

In [84]:
b_list

['foo', 'bar', 'baz']

In [85]:
b_list[1] = 'peekaboo'

In [86]:
b_list

['foo', 'peekaboo', 'baz']

In [87]:
"""
The 'list' function is frequently used in data processing as a way to 
materialize an iterator or generator expression.
"""

"\nThe 'list' function is frequently used in data processing as a way to \nmaterialize an iterator or generator expression.\n"

In [88]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
# Adding and removing elements

In [91]:
# elements can be appended to end of the list with the 'append' method
b_list.append('dwarf')

In [92]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [93]:
# using 'insert' you can insert an element at a specific location in the list
b_list.insert(1, 'red')

In [94]:
# NOTE: compared to 'append', 'insert' is computationally expensive.
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [95]:
# The inverse operation to 'insert' is 'pop', removes and returns element at a particular index
b_list.pop(2)

'peekaboo'

In [96]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [97]:
# elements can be removed by value with 'remove'
# locates the first such value and removes it
b_list.append('foo')

In [98]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [99]:
b_list.remove('foo')

In [100]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [103]:
# Check if a list contains a value using the 'in' and 'not in' keywords
'dwarf' in b_list

True

In [104]:
'dwarf' not in b_list

False

In [105]:
# Concatenating and combining lists
# similar to tuples, adding two lists together with '+' concatenates them
[4, None, 'foo'] + [7, 8, (5, 6)]

[4, None, 'foo', 7, 8, (5, 6)]

In [106]:
"""
If you have a list already defined, you can append multiple elements 
to it using the 'extend' method
"""

"\nIf you have a list already defined, you can append multiple elements \nto it using the 'extend' method\n"

In [107]:
x = [4, None, 'foo']
x.extend([7, 8, (4, 3)])

In [108]:
x

[4, None, 'foo', 7, 8, (4, 3)]

In [113]:
"""
NOTE: list concatenation by addition is a comparatively expensive 
operation since a new list must be created and the objects copied over.
Using 'extend' to append elements to an existing list.
"""

"\nNOTE: list concatenation by addition is a comparatively expensive \noperation since a new list must be created and the objects copied over.\nUsing 'extend' to append elements to an existing list.\n"

In [119]:
list_of_lists = ['4', 'foo']

In [120]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
# this is more faster than addition(+)

In [121]:
# Sorting
a = [7, 4, 8, 3, 4]
a.sort()

In [122]:
a

[3, 4, 4, 7, 8]

In [123]:
# sort a collection of strings by their lengths
b = ['saw', 'small', 'He', 'fox', 'scully']

In [124]:
b.sort(key=len)

In [125]:
b

['He', 'saw', 'fox', 'small', 'scully']

In [1]:
# Binary search and maintaining a sorted list
"""
The built-in 'bisect' module implements binary search and insertion 
into a sorted list.
'bisect.bisect' finds the location where an element should be inserted
to keep it sorted, while 'bisect.insort' actually inserts the element 
into that location.
"""

"\nThe built-in 'bisect' module implements binary search and insertion \ninto a sorted list.\n'bisect.bisect' finds the location where an element should be inserted\nto keep it sorted, while 'bisect.insort' actually inserts the element \ninto that location.\n"

In [2]:
import bisect

In [3]:
c = [1, 2, 2, 2, 3, 4, 7]

In [4]:
bisect.bisect(c, 2)

4

In [5]:
bisect.bisect(c, 5)

6

In [6]:
bisect.insort(c, 6)

In [7]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [8]:
# The 'bisect' module does not check whether the list is sorted.

In [10]:
## Slicing
"""
You can select sections of most sequence types by using slice notation,
which in its basic form consists of 'start:stop' passed to the indexing 
operator.
"""

"\nYou can select sections of most sequence types by using slice notation,\nwhich in its basic form consists of 'start:stop' passed to the indexing \noperator.\n"

In [11]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [12]:
seq[1:5]

[2, 3, 7, 5]

In [13]:
# Slices can also be assigned to with sequence
seq[3:4] = [6, 3]

In [14]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [15]:
seq[:5]

[7, 2, 3, 6, 3]

In [16]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [17]:
seq[-4:]

[5, 6, 0, 1]

In [18]:
seq[-6:-2]

[6, 3, 5, 6]

In [20]:
# A step can also be used after a second colon to, say, take ever other element
seq[::2]

[7, 3, 3, 6, 1]

In [21]:
# A clever use of this is to pass '-1', which has the useful effect of reversing alist or tuple
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [22]:
## Built-in Sequence Functions

In [26]:
# 'enumerate'
"""
It's common when iterating over a sequence to want to keep track of the 
index of the current item.
"""

"\nIt's common when iterating over a sequence to want to keep track of the \nindex of the current item.\n"

In [27]:
collection = [1, 0, 6, 5, 3, 6, 3, 2, 7]

In [28]:
# A do-it-yourself approach would look like:
i = 0
for value in collection:
    # do something with value
    i +=1

In [31]:
# Using 'enumerate' function:
for i, value in enumerate(collection):
    # do something with value
    pass

In [32]:
"""
When you are indexing data, a helpful pattern that uses 'enumerate' is 
computing a 'dict' mapping the values of a sequence.
"""

"\nWhen you are indexing data, a helpful pattern that uses 'enumerate' is \ncomputing a 'dict' mapping the values of a sequence.\n"

In [33]:
some_list = ['foo', 'bar', 'baz']

In [34]:
mapping = {}

In [35]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [36]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [37]:
# 'sorted' function.
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [38]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [41]:
# 'zip' function
"""
zip "pairs" up the elements of a number of lists, tuples, or other 
sequences to create a list of tuples.
"""

'\nzip "pairs" up the elements of a number of lists, tuples, or other \nsequences to create a list of tuples.\n'

In [42]:
seq1 = ['foo', 'bar', 'baz']

In [43]:
seq2 = ['one', 'two', 'three']

In [44]:
zipped = zip(seq1, seq2)

In [45]:
zipped

In [46]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [47]:
tuple(zipped)

()

In [49]:
"""
'zip' can take an arbitrary number of sequences, and the number of 
elements it produces is determined by the shortest sequence
"""
seq3 = [False, True]

In [51]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]